body,
h1,
p {
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: none;
    transition: opacity 1s ease;
}

.carousel-slide img {
    width: 120em;
    height: 37em;
}

.active {
    display: block;
}

.carousel-container {
    position: relative;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}